<h1>Hi Nikhil</h1>

<!-- <app-profile></app-profile> -->   <!--Normal selector angular 17-->
<!-- <div app-profile></div>                 tag attribute selector angular 17-->

<!--#region tag attribute selector works for every tag execept paragraph tag angular 17-->
<!-- <div app-profile></div>
<span app-profile></span>
<p app-profile></p> -->
<!--#endregion  -->

<!--#region tag attribute selector and normal selector angular 17-->
<div nikhil-profile></div>
<span nikhil-profile></span>
<p nikhil-profile></p>
<app-profile></app-profile>
<!--#endregion  -->
